*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */


/* nav */
/* header content */
.header__content {
 background: url(../images/headerContent.jpg)no-repeat center /cover;
 height: 565px;
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.header__box{
  
 text-align: center;
}
.header__content-title {
 font-size: 50px;
line-height: 59px;
color: #FFFFFF;

}
.header__content-link{
      font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}

/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */




/* just */
/* express */



/* express */
/* footer */



/* footer */
