*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #EBEBEB;
}

/* nav */


/* nav */
/* header content */



/* header content */
/* news */



/* news */
/* products */


/* procuts */
/* krossi */




/* krossi */
/* just */
.just{
    background: url(../images/Video.jpg)no-repeat center/cover;
    height: 557px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.box{
    background: rgba(186, 186, 186, 0.5);
    padding: 20px 0;
    max-width: 400px;
    width: 100%;
    margin-left: 50px;
}

.just-title{
   font-size: 40px;
   line-height: 47px;
   color: #FFFFFF;
  margin:0 50px;
}



/* just */
/* express */



/* express */
/* footer */



/* footer */
